/* main site css */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', 'Times New Roman', serif;
    color: #333;
    -webkit-box-sizing: border-box; 
	  -moz-box-sizing: border-box; 
  	box-sizing: border-box; 
}

html, body {
    background-color: #F5F5F5;
    height: 100%;
}

body::after {
  text-align: center;
  display: block;
  font-weight: 510;
  width: 100%;
  content: "© 2023 Moviefy school project by Group 9 (R). All rights reserved.";
  background-color: #fff;
  border-top: 1px solid #ccc;
  padding: 20px;
  margin-top: 10px;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 60px;
    background-color: #fff;
    color: rgb(14, 15, 44);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row nowrap;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

section {
    z-index: 1; 
}

/* anchor elements css */
a, a:link {
    text-decoration: none;
    cursor: pointer;
    color: dodgerblue;
}

a:visited {
    text-decoration: none;
    color: dodgerblue;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
    color: dodgerblue;
}

a:active {
    text-decoration: none;
    cursor: pointer;
    color: dodgerblue;
}

/* Navigation classes */
.header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-flow: row nowrap;
    margin-left: auto;
}

.heading {
    font-variant: small-caps;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
}

.header-btn {
    background-color: #ddd;
    font-weight: bold;
    padding: 5px 10px;
    margin: 2px 10px 8px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.header-btn:hover {
    background-color: #ccc;
}

/* classes */
.push-down {
  margin-top: 80px;
}

.movie-item {
  background-color: #ffffffd0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  list-style-type: none;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination li {
  display: inline-block;
  margin: 0 5px;
}

.pagination li a {
  padding: 5px 10px;
  background-color: #f1f1f1;
  color: #333;
}

.pagination li.active a {
  background-color: dodgerblue;
  color: #fff;
}